/* STYLE PRESETS DO NOT ALTER THIS SECTION */
h1, h2, h3, h4, h5, h6 {
    margin-top:10px;
}

p {
    font-size:16px;
}

.fab, .far {
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}

/* PLACE YOUR CUSTOM CODE HERE */

* {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  margin-bottom: 0;
  background-color: indigo;
  border-radius: 0;
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a:hover {
  color: coral;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover {
    background-color: coral;
}

.navbar-default .navbar-toggle:focus{
    background-color: transparent;
}

.navbar-brand h1 {
  font-family: 'Satisfy', cursive;
  font-size: 26px;
  margin-top: 0;
  color: #ffffff;
}

.logo {
  width: 40px;
}

.jumbotron h1 {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

.bg-cover {
  background-image: url(../img/cat.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-top: 75px;
  padding-bottom: 40px;
}

.jumbotron p {
  text-align: center;
}

.btn-primary {
    color: #fff;
    background-color: indigo;
    border-color: transparent;
  }

.btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: coral;
    border-color: transparent;
  }


.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact h2 {
  text-transform: uppercase;
  font-weight: 700;
  color: coral;
}

.list-group-item {
  background-color: #eeeeee;
}

footer {
  background-color: #222222;
  color: coral;
  text-transform: uppercase;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer h2 {
  font-weight: 700;
  font-size: 15px;
}

@media (max-width:800px) {
  footer {
    text-align: center;
  }
}
