/* STYLE PRESETS DO NOT ALTER THIS SECTION */
h1, h2, h3, h4, h5, h6 {
    margin-top:10px;
}

p {
    font-size:16px;
}

.fab, .far {
    font-size:30px;
    margin-left:5px;
    margin-right:5px;
}

/* PLACE YOUR CUSTOM CODE HERE */

.navbar {
  margin-bottom: 0;
}

.navbar-brand h1 {
  font-family: 'Satisfy';
  font-size: 26px;
  margin-top: 0;
  color: coral;
}

.logo {
  width: 40px;
}

.jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
}

.bg-cover {
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-top: 75px;
  padding-bottom: 40px;
}

.jumbotron p {
  text-align: center;
}

.cat-toys h1 {
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

/* .cat-toys img {
  height: 75%;
  width: 75%;
  padding-bottom: 20px;
} */

@media (max-width:700px) {
  .cat-toys {
    text-align: center;
  }

  /* img {
    height: 100%;
    width: 100%
  } */
}
